

.login-container {
    display: flex;
    background-image: url(../pages/MainPage/main.jpg);
    justify-content: center;
    align-items: center;
    height: 100vh;
    
  }
  
  /* Styling for the form */
  .login-form {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
  }
  
  /* Title styling */
  .login-form h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
  }
  
  /* Styling for input fields */
  .login-form input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
  }
  
  /* Button styling */
  .login-form button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .login-form button:hover {
    background-color: #0056b3;
  }
  
  /* Error message styling */
  .login-form p {
    color: red;
    text-align: center;
    font-size: 14px;
    margin-top: 10px;
  }
  
 .loginbutton{
    background-color:rgb(225, 183, 28);
    border-radius: 20px;

 } 